<div class="body-content">
    <div class="history-controls">
      <button type="button" class="red-button" id="clear-history">Delete Selected</button>
      <input type="text" id="history-search" placeholder="Search...">
    </div>

    <table class="history-table">
    <tr class="table-header">
      <th><input type="checkbox" id="history-select-all" {{#if selectAll}}checked{{/if}}></th>
      <th><i class="fa fa-calendar"></i> Date</th>
      <th><i class="fa fa-anchor"></i> Root Node</th>
      <th><i class="fa fa-code-fork"></i> Pages</th>
    </tr>
    {{#each collection}}
    <tr class="table-row" sessionId="{{id}}">
      <td><input type="checkbox" class="history-checkbox" id="{{id}}" {{#if checked}}checked{{/if}}></td>
      <td class="navigable">{{#parseDate}}{{id}}{{/parseDate}}</td>
      <td class="navigable">{{tree.name}}</td>
      <td class="navigable">{{tree.lastNodeIndex}}</td>
    </tr>
    {{/each}}
  </table>
</div>
